<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
    <meta charset="utf-8"/>
    <style type="text/css">
         a{text-decoration:none; color:#000000; font-size: 25px}                            
         nav ul{padding-top:10px;}                    
         nav ul li {
            display:inline;                        
            border-left:1px solid #999;             
            font:bold 12px ;                    
            padding:0 5px;                       
        }
         nav ul li:first-child{border-left:none;}    
    </style>
</head>


<body>   
    <nav>
        <ul>
            <li><a>노성현</a></li>
            {% if user.is_active %}
            <p>{{ user.username }}님 {{ user.nickname }} 반갑습니다.</p>
            <p><a href="{% url 'logout' %}">로그아웃</a></p>
            {% else %}
            <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
            <li><a href="{% url 'login' %}">로그인</a></li>
            
            <br>
            <p></p>
            <p>로그인 되지 않음</p>
            {% endif %}
            
            
        </ul>   
    </nav>   
</body>
</html>

<body>
    <hr>
    
    {% for post in posts.all %}
        <center>

        <div>
            {% if user.is_authenticated %}
            <h2><a href="{% url 'detail' post.id %}">{{post.title}}</a></h2>
            {% else %}
            <h2><a href="{% url 'login' %}">{{post.title}}</a></h2>
            {% endif %}
            <p>{{ post.text|slice:":6" }}...</p>
            <p>{{ post.created_date }}</p>
        
        </div>
        <hr>
    {% endfor %}
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h3><a href="{% url 'new' %}">글쓰기</a></h3>
    
  
</center>

</body>